<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @health_problem.name %>
</p>

<%= link_to 'Edit', edit_health_problem_path(@health_problem) %> |
<%= link_to 'Back', health_problems_path %>
