<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Clients raw">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Phone Number</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
      </Row>
    <% @clients.each do |client| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= client.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.phone_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= client.address %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>