<div class="container-fluid">
  <div class="jumbotron" style="background:transparent !important">
    <div class="row">
      <%= image_tag "banner.png", class: "img-responsive center-block" %>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4"><%= link_to "Login", "#", class: "btn btn-lg btn-info center-block" %></div>
    </div>
  </div>
</div>